<div style="height: 5vh; padding: 0.5rem 1rem 0 0">

    <%= link_to 'no tengo cuenta. Quiero conocer el servicio!', t_i_path, style:'float: right; font-size: 1.3rem' %>
    
</div>

<%# AVISO EN CASO DE QUE LA CONTRASEÑA DE NOVIOS SEA INCORRECTA %>
<% if params[:error_autenticacion] == "novios" %>
    <h3 style="color:red;"> La contraseña de novios es incorrecta. Porfavor vuelve a intentarlo </h3>
<% end %>


<%# AVISO EN CASO DE QUE LA CONTRASEÑA DE INVITADO SEA INCORRECTA %>
<% if params[:error_autenticacion] == "invitado" %>
    <h3 style="color:red;"> El codigo de invitado es incorrecto. Porfavor vuelva a intentarlo </h3>
<% end %>


<%# AVISO DE EXITO DE COMPRA REALIZADA %>
<% if params[:estado] == 'compra lista'%>
    <script>
        alert('compra realizada con exito. Nos comunicaremos con usted a la brevedad')
    </script>
<% end %>



<div style="display: flex; justify-content: space-around; align-items: center; width:100vw; height:90vh;">
    <%# FORMULARIO DE INICIO DE SESION PARA NOVIOS %>
    <div>
        <div class="circulos"> </div>

        <div>
            <div class="flexbox-form">
                <h3> Entrar como anfitrion (novios) </h3>
                <%= form_with(url: s_c_path, model: @marriage, local: true) do |f| %>
                    <div class="margin_form">
                        <%= f.password_field :password, class: 'inputs-formularios' %>
                    </div>
                    <div style="text-align: center">
                        <%= f.submit 'entrar', class: 'boton_input' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>


    <div>
        <%# FORMULARIO DE INICIO DE SESION PARA INVITADO %>
        <div class="circulos"> </div>

        <div>
            <div class="flexbox-form">
                <h3> Entrar como invitado </h3>
                <%= form_with(url: s_c_path, model: @invited, local: true) do |f| %>
                    <div class="margin_form">
                        <%= f.password_field :password, class: 'inputs-formularios' %>
                    </div>
                    <div style="text-align: center">
                        <%= f.submit 'entrar', class: 'boton_input' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

</div>