<%= link_to 'no tengo cuenta. Quiero conocer el servicio!', t_i_path %>
<%# AVISO EN CASO DE QUE LA CONTRASEÑA DE NOVIOS SEA INCORRECTA %>
<% if params[:error_autenticacion] == "novios" %>
    <h3 style="color:red;"> La contraseña de novios es incorrecta. Porfavor vuelve a intentarlo </h3>
<% end %>

<%# AVISO EN CASO DE QUE LA CONTRASEÑA DE INVITADO SEA INCORRECTA %>
<% if params[:error_autenticacion] == "invitado" %>
    <h3 style="color:red;"> El codigo de invitado es incorrecto. Porfavor vuelva a intentarlo </h3>
<% end %>

<%# AVISO DE EXITO DE COMPRA REALIZADA %>
<% if params[:estado] == 'compra lista'%>
    <script>
        alert('compra realizada con exito. Nos comunicaremos con usted a la brevedad')
    </script>
<% end %>

<div style="display: flex; justify-content: space-around; align-items: center; width: 100vw; height:100vh;">
    <div>
        <%# FORMULARIO DE INICIO DE SESION PARA NOVIOS %>
        <h3> Entrar como anfitrion (novios) </h3>
        <%= form_with(url: s_c_path, model: @marriage, local: true) do |f| %>
            <%= f.password_field :password, placeholder: 'password' %>
            <%= f.submit 'entrar' %>
        <% end %>
    </div>
    <div>
        <h3> Entrar como invitado </h3>
        <%# FORMULARIO DE INICIO DE SESION PARA INVITADO %>
        <%= form_with(url: s_c_path, model: @invited, local: true) do |f| %>
            <%= f.text_field :password, placeholder: 'ingrese su codigo' %>
            <%= f.submit 'entrar' %>
        <% end %>
    </div>
</div>