var edit_info_eventos = document.getElementById("edit_info_ceremonia");
edit_info_eventos.innerHTML = `
    <h4> Informacion de la ceremonia </h4>
    <%= form_with(url: c_u_path(id: @ceremony.id), model: @ceremony, remote: true, method: :patch) do |c| %>
            <div class="inputs-datos-editar">
                <%= c.label 'Direccion' %>
                <%= c.text_field :address, class: 'input-editar' %>
            </div>
            <div class="inputs-datos-editar">
                <%= c.label 'Hora' %>
                <%= c.text_field :hour, class: 'input-editar' %>
            </div>
            <div class="inputs-datos-editar">
                <%= c.label 'Fecha' %>
                <%= c.text_field :date, class: 'input-editar' %>
            </div>

            <div class="div-boton-input"> <%= c.submit 'editar', class: 'boton_input' %> </div>
        <% end %>
`
alert("informacion actualizada")