var edit_info_celebracion = document.getElementById("edit_info_celebracion");
edit_info_celebracion.innerHTML = `
    <h4> informacion de la celebracion </h4>
       <%= form_with(url: celebration_u_path(id: @celebration.id), model: @celebration, remote: true) do |c| %>
            <div class="inputs-datos-editar">
                <%= c.label 'Direccion' %>
                <%= c.text_field :address, class: 'input-editar' %>
            </div>
            <div class="inputs-datos-editar">
                <%= c.label 'Hora' %>
                <%= c.text_field :hour, class: 'input-editar' %>
            </div>
            <div class="inputs-datos-editar">
                <%= c.label 'Fecha' %>
                <%= c.text_field :date, class: 'input-editar' %>
            </div>
            <%= c.submit 'editar', class: 'boton_input' %>
        <% end %>
`
alert("informacion actualizada")