var lista_invitados_matrimonio = document.getElementById("lista_invitados_matrimonio");
lista_invitados_matrimonio.innerHTML +=`
    <p> nombre: <%= @invited.name %> || apellido: <%= @invited.last_name %> || fono: <%= @invited.phone %> || email: <%= @invited.email %> || codigo: <%= @invited.password_digest %>  </p>
    <%= link_to 'eliminar', i_d_path(@invited.id), method: :delete %>

`