var lista_invitados_matrimonio = document.getElementById("lista_invitados_matrimonio");
lista_invitados_matrimonio.innerHTML +=`
    <tr>
        <td><%= @invited.name %></td>
        <td><%= @invited.last_name %></td>
        <td><%= @invited.phone %></td>
        <td> <%= @invited.email %> </td>
        <td> <%= @invited.password_digest %> </td>
        <td> <%= link_to 'eliminar', i_d_path(@invited.id), method: :delete %> </td>
    </tr>
`