<%# ///////////////////datos de novio 1 para editar//////////////////////////////// %>
<h3 style="text-align: center; margin: 1.5rem 0"> Estos son sus datos en caso que quiera editarlos </h3>

<div style="display: flex; justify-content: space-around; height: 27vh;">
    <div id="edit_info" class="contenedores-formularios-edit">
        <h4> Datos novio </h4>
        <%= form_with(url: m_u_path(id: @marriage.id), model: @marriage, remote: true, method: :patch) do |f| %>
            <div class="inputs-datos-editar">
                <%= f.label 'nombre' %>
                <%= f.text_field :name1, class: 'input-editar' %>
            </div>
            <div class="inputs-datos-editar">
                <%= f.label 'fono' %>
                <%= f.text_field :phone_name1, class: 'input-editar' %>
            </div>
            <div class="inputs-datos-editar">
                <%= f.label 'email' %>
                <%= f.text_field :email_name1, class: 'input-editar' %>
            </div>
            
            <div class="div-boton-input"><%= f.submit 'editar', class: 'boton_input' %></div>
        <% end %>
    </div>


    <%# ///////////////datos de novio 2 para editar///////////////////////// %>
    <div id="edit_info" class= 'contenedores-formularios-edit'>
        <h4> Datos novio </h4>
        <%= form_with(url: m_u_path(id: @marriage.id), model: @marriage, remote: true, method: :patch) do |f| %>
            <div class="inputs-datos-editar">
                <%= f.label 'nombre' %>
                <%= f.text_field :name2, class: 'input-editar' %>
            </div>
            <div class="inputs-datos-editar">
                <%= f.label 'fono' %>
                <%= f.text_field :phone_name2, class: 'input-editar' %>
            </div>
            <div class="inputs-datos-editar">
                <%= f.label 'email' %>
                <%= f.text_field :email_name2, class: 'input-editar' %>
            </div>
            
            <div class="div-boton-input"><%= f.submit 'editar', class: 'boton_input' %></div>
        <% end %>
    </div>


    <%# ///////////datos de ceremonia para editar///////////////////////////////// %>
    <div id="edit_info_ceremonia" class= 'contenedores-formularios-edit'>
        <h4> Informacion de la ceremonia </h4>
        <%= form_with(url: c_u_path(id: @ceremony.id), model: @ceremony, remote: true, method: :patch) do |c| %>
            <div class="inputs-datos-editar">
                <%= c.label 'Direccion' %>
                <%= c.text_field :address, class: 'input-editar' %>
            </div>
            <div class="inputs-datos-editar">
                <%= c.label 'Hora' %>
                <%= c.text_field :hour, class: 'input-editar' %>
            </div>
            <div class="inputs-datos-editar">
                <%= c.label 'Fecha' %>
                <%= c.text_field :date, class: 'input-editar', placeholder: 'año/mes/dia' %>
            </div>
            
            <div class="div-boton-input"> <%= c.submit 'editar', class: 'boton_input' %> </div>
        <% end %>
    </div>


    <%# ///////////////////////datos de celebracion para editar////////////////////////////// %>
    <div id="edit_info_celebracion" class= 'contenedores-formularios-edit'>
        <h4> informacion de la celebracion </h4>
        <%= form_with(url: celebration_u_path(id: @celebration.id), model: @celebration, remote: true) do |c| %>
            <div class="inputs-datos-editar">
                <%= c.label 'Direccion' %>
                <%= c.text_field :address, class: 'input-editar' %>
            </div>
            <div class="inputs-datos-editar">
                <%= c.label 'Hora' %>
                <%= c.text_field :hour, class: 'input-editar' %>
            </div>
            <div class="inputs-datos-editar">
                <%= c.label 'Fecha' %>
                <%= c.text_field :date, class: 'input-editar', placeholder: 'año/mes/dia' %>
            </div>
            
            <div class="div-boton-input"> <%= c.submit 'editar', class: 'boton_input' %> </div>
        <% end %>
    </div>
</div>


<%# /////////DASHBOARD GRAFICOS INVITADOS CONFIRMADOS, NO CONFIRMADOS Y DIAS QUE FALTAN PARA CASARSE//////////// %>
<div style="display: flex; justify-content: space-between; height 40vh;">
    <div>
        <%= column_chart @datos, colors:['#FF3456'], messages:{empty: 'no hay invitados agregados'} %>
    </div>
    <div>
        <%= bar_chart 'dias que faltan para casarse': @dias %>
    </div>
</div>