<h3> Estos son sus datos en caso que quiera editarlos </h3>
<div id="edit_info">
    <%= form_with(url: m_u_path(id: @marriage.id), model: @marriage, remote: true, method: :patch) do |f| %>
        <%# ////ciclo que recorre los atributos de la instancia del usuario activo////// %>
        <% @marriage.attributes.each do |attr_name, attr_value|%>
            <% unless attr_name == "id" || attr_name == "created_at" || attr_name == "updated_at" || attr_name == "password_digest" %>
                <div>
                    <%= f.label attr_name %>
                    <%= f.text_field attr_name %>
                </div>
            <% end %>
        <% end %>
        <div><%= f.submit 'editar' %></div>
    <% end %>
</div>

<%# ///////////lista de productos contratados////////////////////
no tengo como hacer que la lista este separada de los productos entregados, solicitados y por entregar. Ya que en mi aplicacion, un matrimonio contrata el servicio y adquiere el derecho a poder hacer una lista de invitados y crear las invitaciones para ellos %>

<div>
    <a href="<%= m_s_path(producto: 'lista-invitados') %>">
        <div id="lista-invitados" class="producto_contratado">
            <p> producto 1: lista de invitados </p>
        </div>
    </a>
    <a href="<%= m_s_path(producto: 'invitaciones') %>">
        <div id="invitacion" class="producto_contratado">
            <p> producto2: crear invitaciones </p>
        </div>
    </a>
    <a href="#">
        <div id="tutorial" class="producto_contratado">
        </div>
    </a>
</div>