<% if params[:error] %>
    <h4 style="color: red;"> El usuario no pudo ser creado </h4>
<% end %>

<% if params[:producto] == 'lista-invitados' %>
<%# //////// vista show si entran a ver lista de invitados////////// %>
    <div style="height: 90vh;">
        <div>
            <%= form_with(url: i_c_path, model: @invited, remote: true) do |f| %>
                <div>
                    <%= f.label 'nombre' %>
                    <%= f.text_field :name, class: 'input-editar' %>
                </div>
                <br>
                <div>
                    <%= f.label 'apellido' %>
                    <%= f.text_field :last_name, class: 'input-editar' %>
                </div>
                <br>
                <div>
                    <%= f.label 'fono' %>
                    <%= f.text_field :phone, class: 'input-editar' %>
                </div>
                <br>
                <div>
                    <%= f.label 'mail' %>
                    <%= f.text_field :email, class: 'input-editar' %>
                </div>
                <br>
                <div>
                    <%= f.label 'contraseña' %>
                    <%= f.text_field :password_digest, class: 'input-editar' %>
                </div>
                <br>
                <%= f.submit 'crear invitado', class: 'boton_input' %>
            <% end %>
        </div>

        <%# //////// lista de invitados del usuario activo//////////// %>

        <table style='width: 100%; border-collapse: collapse;' id="lista_invitados_matrimonio">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fono</th>
                <th>Mail</th>
                <th>Contraseña </th>
                <th>Invitacion </th>
                <th>Confirmacion </th>
            </tr>
                <% @inviteds_marriage.each do |invited| %>
                    <tr>
                        <td><%= invited.invited.name %></td>
                        <td><%= invited.invited.last_name %></td>
                        <td><%= invited.invited.phone %></td>
                        <td> <%= invited.invited.email %> </td>
                        <td> <%= invited.invited.password_digest %> </td>
                        <td> <%= link_to 'enviar invitacion' %> </td>
                        <td> Sin confirmacion </td>
                        <td> <%= link_to 'eliminar', i_d_path(invited.invited.id), method: :delete %> </td>
                    </tr>
                <% end %>
        </table>
    </div>


<% elsif params[:producto] == 'invitaciones' %>
<%# //////// vista show si entran a ver las invitaciones para los invitados//////////// %>
    <% unless @invitation_active %>
        <div id="invitaciones_partes">
            <% @templates_invitations.each do |template| %>
                <ul>
                    <li> <img src="<%= template.image%>"> </li>
                    <li> <%= link_to 'seleccionar', i_u_path(template: template.id), method: :patch, remote: true %> </li>
                </ul>
            <% end %>
        </div>
    <% else %>
        <h4> Haz adquirido esta postal </h4>
        <img src="<%= @invitation_active.image %>">
        <p> Pertenece a: <%= @invitation_active.marriage.name1 %> y <%= @invitation_active.marriage.name2 %> </p>
        <% if @invitation_active.message_personalized == nil %>
            <%= form_with(url: i_u_path(template: @invitation_active.id), local:true, method: :patch) do |f| %>
                <%= f.label 'crea un texto personalizado para la invitacion' %>
                <%=f.text_area :message_personalized %>
                <%= f.submit "asignar texto" %>
            <% end %>
        <% else %>
            <p> mensaje personalizado: <%= @invitation_active.message_personalized %> </p>
        <% end %>
    <% end %>
<% end %>
<br>
<%= link_to 'volver al inicio', m_i_path %>