var edit_info = document.getElementById("edit_info");
edit_info.innerHTML ="";
edit_info.innerHTML =`
 <%= form_with(url: m_u_path(id: @marriage.id), model: @marriage, remote: true, method: :patch) do |f| %>
            <div class="inputs-datos-editar">
                <%= f.label 'nombre' %>
                <%= f.text_field :name1, class: 'input-editar' %>
            </div>
            <div class="inputs-datos-editar">
                <%= f.label 'fono' %>
                <%= f.text_field :phone_name1, class: 'input-editar' %>
            </div>
            <div class="inputs-datos-editar">
                <%= f.label 'email' %>
                <%= f.text_field :email_name1, class: 'input-editar' %>
            </div>
            <div><%= f.submit 'editar', class: 'boton_input' %></div>
        <% end %>
`

alert("datos actualizados")




