<!DOCTYPE html>
<html>
  <head>
    <title>Novios</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= notice %>

    <% if session[:marriage] || session[:admin] %>
      <div style="display: flex; justify-content: space-between; height: 5vh; background: #CCCCCC; padding: 0 1rem;" >
        <a href="<%= m_s_path(producto: 'lista-invitados') %>">
            Lista de invitados
        </a>
        <a href="<%= m_s_path(producto: 'invitaciones') %>">
            <p> Parte digital (invitaciones) </p>
        </a>
        <a href="<%= t_i_path %>">
                Tutoriales
        </a>
        <a href="<%= s_n_path %>">
            Califica el servicio
        </a>
        <div style="background: #CCCCCC">
        <%= link_to 'cerrar sesion',s_d_path, method: :delete %>
      </div>
      </div>
    <% end %>


    <div style="border-left: 5rem solid #DCDCDC; border-right: 5rem solid #DCDCDC">
      <%= yield %>
    </div>

  
  </body>
</html>
